<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-1">
            From:
        </div>
        <div class="col-sm-4">
            <%= @user.from %>
        </div>
        <br />
        <div class="col-sm-1">
            birthday:
        </div>
        <div class="col-sm-4">
            <%= @user.birthday %>
        </div>
        <br />
    </div>
</div>

